URxvt*transparent: true
URxvt*shading: 10
URxvt*font: xft: lucy tewi:size=9
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.scrollBar: false
*antialias: true
! hard contrast: *background: #1d2021
*background: #263238
! soft contrast: *background: #32302f
*foreground: #eceff1
! Black + DarkGrey
*color0:  #263238
*color8:  #37474f
! DarkRed + Red
*color1:  #ff9800
*color9:  #ffa74d
! DarkGreen + Green
*color2:  #8bc34a
*color10: #9ccc65
! DarkYellow + Yellow
*color3:  #ffc107
*color11: #ffa000
! DarkBlue + Blue
*color4:  #03a9f4
*color12: #81d4fa
! DarkMagenta + Magenta
*color5:  #e91e63
*color13: #ad1457
! DarkCyan + Cyan
*color6:  #009688
*color14: #26a69a
! LightGrey + White
*color7:  #cfd8dc
*color15: #eceff1
